charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain#our_history)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
	height: auto;

}
#kv_sec{
	position: relative;
}
#kv_sec picture img{
	height: 100vh;
	width: 100vw;
}

#kv_title{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#section3-1,
#section4-1,
#section5-1{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	line-height: 1.5;
	font-size: 180%;
	font-weight: bold;
}
#section3-1,
#section5-1{
	color: #131834;
	text-align: center;
}
#section4-1{
	color: #fff;
	text-align: center;
}

.anim_marker{
   padding-bottom: 2px;
   display: inline;
   background-image: linear-gradient(180deg, transparent 80%, #ebff67 0);
   background-repeat: no-repeat;
   background-size: 0% 100%;
   transition: 2s;
}
.anim_marker.is-active {
  background-size: 100% 100%;
}

#section6-1{
	position: absolute;
	top:10%;
	left: 50%;
}

#section6-1 span{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 57px;
	height: 57px;
	margin-left: -12px;
	border-left: 15px solid #131834;
	border-bottom: 15px solid #131834;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb2 2s infinite;
	animation: sdb2 2s infinite;
	opacity: 1;
	box-sizing: border-box;
}
#section6-1 span:nth-of-type(1){
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
#section6-1 span:nth-of-type(2){
	top:60%;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}
#section6-1 span:nth-of-type(3){
	top:120%;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

@-webkit-keyframes sdb2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



#solution{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.button {
  position: relative;
  display: inline-block;
  padding: .9em 3.6em;
  border: 2px solid #00;
  color: #000;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all .2s;
	font-size: 180%;
	font-weight: bold;
}
.button::before,
.button::after {
  position: absolute;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border: 2px solid transparent;
}
.button::before {
  top: -2px;
  left: -2px;
}
.button::after {
  bottom: -2px;
  right: -2px;
}
.button:hover {
  color: #3be5ae;
}
.button:hover::before,
.button:hover::after {
  width: 100%;
  height: 100%;
}
.button:hover::before {
  border-bottom-color: #3be5ae;
  border-left-color: #3be5ae;
  transition: height .2s, width .2s .2s;
}
.button:hover::after {
  border-top-color: #3be5ae;
  border-right-color: #3be5ae;
  transition: height .2s .4s, width .2s .6s;
}






#panels{
	display: flex;
	justify-content: center;
	width: 980px;
	margin: 0 auto;
}
.left_side{
	width: 438.915px;
	height: 519.713px;
	position: relative;
}
.right_side {
	width: 420.67px;
	height: 519.713px;
	position: relative;
}

.right_side #board1 img{
	max-width: 410.67px;
}
.left_side #board2 img{
	max-width: 438.915px;
}
.left_side #board3 img{
	max-width: 438.915px;
}



.right_side .flip-boards{
	position: absolute;
	top: 0;
	/* right: 0; */
}

.left_side .flip-boards:nth-of-type(1){
	position: absolute;
	top: 0;
	left: 0;
}

.left_side .flip-boards:nth-of-type(2){
	position: absolute;
	top: 46%;
	left: 0;
}



#board1{
	position: absolute;
	top:0;

}
#board1 .front{
	position: absolute;
	top:0;

}

#board1 .flipped{
	position: absolute;
	top:0;

}

/* #board1 .front img{
	position: absolute;
	top: 0;
	left: 0;
}
#board1 .flipped img{
	position: absolute;
	top: 0;
	left: 0;
} */

#board2{
	position: absolute;
	top: 0;
}

#board2 .front{
	position: absolute;
	top:0;
}

#board2 .flipped{
	position: absolute;
	top:0;
}


/* #board3 img{
	position: absolute;
	bottom: 30%;
} */

#board3{
	position: absolute;
	top:0;
}

#board3 .front{
	position: absolute;
	top: 0;
}

#board3 .flipped{
	position: absolute;
	top: 0;
}



/* flip アニメーション用 */
.flip-boards{ position: relative; }
.flip-boards .board
{
    float:left;
    /* margin: 2em 8em; */
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.flip-boards .board div
{
    position: absolute;
    width: 100%;
    height: 100%;

    border: 1px solid #ccc;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility:     hidden;
}
.flip-boards .board .front
{
    /* color:#eee;
    background: rgb(207,231,250);
    background: -moz-linear-gradient(top,  rgba(207,231,250,1) 0%, rgba(99,147,193,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,231,250,1)), color-stop(100%,rgba(99,147,193,1)));
    background: -webkit-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
    background: -o-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
    background: -ms-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
    background: linear-gradient(to bottom,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 );
}
.flip-boards .board .flipped
{
    /* color:#555;
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1)));
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
}

.flip-boards .board.left:hover
{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.flip-boards .board.left .flipped
{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


#section8-1 p{
	text-align: center;
	font-weight: bold;
}
#last_part{
	width: 100%;
	height: 700px;
	background: #dcdcdc;
	position: relative;
}
#triangle{
	width: 0;
	height: 0;
	border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
	position: absolute;
	top: 0;
	left: 50%;
}
#sub_title{
	text-align: center;
	margin: 30px 0;
}
#sub_title span{
	font-weight: bold;
}
#last_part ul{
	display: flex;
	justify-content: space-between;
	width: 980px;
	margin: 0 auto;
}
#last_part ul li{
	width: 30%;
}
