charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain#our_history)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
	height: auto;
}
#kv_sec{
	position: relative;
}
#kv_sec picture img{
	height: 100vh;
	width: 100vw;
}

#kv_title{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#section3-1,
#section4-1,
#section5-1{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	line-height: 1.5;
	font-size: 180%;
	font-weight: bold;
}
#section3-1,
#section5-1{
	color: #131834;
	text-align: center;
}
#section4-1{
	color: #fff;
	text-align: center;
}

.anim_marker{
   padding-bottom: 2px;
   display: inline;
   background-image: linear-gradient(180deg, transparent 80%, #ebff67 0);
   background-repeat: no-repeat;
   background-size: 0% 100%;
   transition: 2s;
}
.anim_marker.is-active {
  background-size: 100% 100%;
}

#section6-1{
	position: absolute;
	top:10%;
	left: 50%;
}

#section6-1 span{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 57px;
	height: 57px;
	margin-left: -12px;
	border-left: 15px solid #131834;
	border-bottom: 15px solid #131834;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb2 2s infinite;
	animation: sdb2 2s infinite;
	opacity: 1;
	box-sizing: border-box;
}
#section6-1 span:nth-of-type(1){
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
#section6-1 span:nth-of-type(2){
	top:60%;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}
#section6-1 span:nth-of-type(3){
	top:120%;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

@-webkit-keyframes sdb2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#panels{
	display: flex;
	justify-content: space-between;
	width:80%;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#panels .left_side,
#panels .right_side{
	width: 50%;
}
#panels .left_side div{
	display: block;
	margin-top: -32px;
}
